
  <mat-accordion *ngIf="messageService.getMessages().length">
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Messages </mat-panel-title>

        <mat-panel-description>
          {{ messageService.getMessages().length }} record(s)
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let message of messageService.getMessages()">
          {{ message }}
        </mat-list-item>
      </mat-list>

      <p>
        <button (click)="messageService.clear()" mat-fab color="warn" aria-label="delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </p>

    </mat-expansion-panel>
  </mat-accordion>


