<mat-toolbar color="primary">

    <span>{{ title }}</span>
    <span fxFlexAlign></span>

    <button
      mat-icon-button
      aria-label="Heroes list"
      matTooltip="Heroes"
      routerLink="/heroes"
      >
      <mat-icon>sports_martial_arts</mat-icon>
    </button>

    <button
      mat-icon-button
      aria-label="dashboard"
      matTooltip="Dashboard"
      routerLink="/dashboard"
      >
      <mat-icon>dashboard</mat-icon>
    </button>

</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
  <app-messages></app-messages>
</div>


